<div :class="classList">
  <div class="toggler"
    @click="toggle"
    >
    <div class="toggler-inner toggler-show">
      &gt;<br/>&gt;<br/>&gt;<br/>&gt;<br/>&gt;<br/>&gt;<br/>&gt;<br/>&gt;<br/>&gt;<br/>
    </div>
    <div class="toggler-inner toggler-hide">
      &lt;<br/>&lt;<br/>&lt;<br/>&lt;<br/>&lt;<br/>&lt;<br/>&lt;<br/>&lt;<br/>&lt;<br/>
    </div>
  </div>
  <div class="wrapper">

    <details open>
      <summary>Features</summary>
      <ul class="features">
        <li v-for="featureName in Object.keys($parent.featuresAvailable)" :key="featureName"
          v-if="!featureName.match(/Highlight[A-Z]/)"
          @click="$parent.toggleFeature(featureName)"
          :class="{checked: $parent.isFeatureEnabled(featureName)}"
          >
          <label>{{ featureName }}</label>
        </li>
      </ul>
    </details>

    <details open>
      <summary>Highlighting</summary>
      <ul class="features">
        <li v-for="featureName in Object.keys($parent.featuresAvailable)" :key="featureName"
          v-if="featureName.match(/Highlight[A-Z]/)"
          @click="$parent.toggleFeature(featureName)"
          :class="{checked: $parent.isFeatureEnabled(featureName)}"
          >
          <input type="checkbox" />
          <label>{{ featureName }}</label>
        </li>
      </ul>
    </details>

    <details class="hocr-toolbar-zoom" open>
      <summary>Zoom: <span class="zoom">{{ $parent.currentZoomRounded }}</span>%
      </summary>
      <button class="zoom" @click="$parent.zoom('-0.1')">-</button>
      <input type="range" min="0" max="5" step=".02"
        :value="$parent.currentZoom"
        @change="$parent.currentZoom = $event.target.value"
      />
      <button class="zoom" @click="$parent.zoom('+0.1')">+</button>
      <p>
        <button class="zoom" @click="$parent.zoom('height')">Fit height</button>
        <button class="zoom" @click="$parent.zoom('width')">Fit width</button>
        <button class="zoom" @click="$parent.zoom('reset')">100 %</button>
      </p>
    </details>


    <details v-if="$parent.isFeatureEnabled('Font')"
      open>
      <summary>Font: <span class="font"></span></summary>
      <select class="font"
        @change="$parent.fontFamily = $event.target.value"
        >
        <option v-for="(fontOptions, fontName) in $parent.fontsAvailable" :key="fontName"
          :style="{'font-size': 'large', 'font-family': fontName}"
          :value="fontName"
          >
          {{ fontName }}
        </option>
      </select>
    </details>

  </div>
</div>

