<div class="hocrjs-toolbar">
  <div class="toggler">
    <div class="toggler-inner toggler-show">
      &gt;<br/>&gt;<br/>&gt;<br/>&gt;<br/>&gt;<br/>&gt;<br/>&gt;<br/>&gt;<br/>&gt;<br/>
    </div>
    <div class="toggler-inner toggler-hide">
      &lt;<br/>&lt;<br/>&lt;<br/>&lt;<br/>&lt;<br/>&lt;<br/>&lt;<br/>&lt;<br/>&lt;<br/>
    </div>
  </div>
  <div class="wrapper">

    <details>
      <summary>Font: <span class="font"></span></summary>
      <select class="font"></select>
    </details>

    <details>
      <summary>Zoom: <span class="zoom">100</span>%
      </summary>
      <input type="range" class="zoom" min="0" max="500" step="2" value="100"/>
      <p>
        <button class="zoom" data-scale-factor="height">Fit height</button>
        <button class="zoom" data-scale-factor="width">Fit width</button>
        <button class="zoom" data-scale-factor="original">100 %</button>
      </p>
    </details>

    <details open>
      <summary>Features</summary>
      <ul class="features">
      </ul>
    </details>

  </div>
</div>

