<div class="hocrjs-toolbar">
  <div class="toggler">
    <div class="toggler-inner toggler-show">
      &gt;<br/>&gt;<br/>&gt;<br/>&gt;<br/>&gt;<br/>&gt;<br/>&gt;<br/>&gt;<br/>&gt;<br/>
    </div>
    <div class="toggler-inner toggler-hide">
      &lt;<br/>&lt;<br/>&lt;<br/>&lt;<br/>&lt;<br/>&lt;<br/>&lt;<br/>&lt;<br/>&lt;<br/>
    </div>
  </div>
  <div class="wrapper">
    <h2>Font</h2>
    <select class="fontlist"></select>
    <h2>Features</h2>
    <ul class="features">
    </ul>
    <h2>Zoom</h2>
    <input type="range" class="zoom" min="0" max="500" step="2" value="100"/>
    <span class="zoom">100</span>%
    <p>
      <button class="zoom" data-scale-factor="height">Fit height</button>
      <button class="zoom" data-scale-factor="width">Fit width</button>
      <button class="zoom" data-scale-factor="original">100 %</button>
    </p>
  </div>
</div>

